* text=auto eol=lf

*.ico binary
*.icns binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.pdf binary
*.zip binary
*.7z binary
*.exe binary
*.dll binary
*.dylib binary
*.so binary
