
<script src="./assets/scripts/00-bridge.js"></script>
  <script src="./assets/scripts/10-shell.js"></script>
  <script src="./assets/scripts/20-runtime.js"></script>
  <script src="./assets/scripts/30-providers-eval.js"></script>
  <script src="./assets/scripts/40-model-picker.js"></script>
  <script src="./assets/scripts/50-model-map.js"></script>
  <script src="./assets/scripts/52-proxy-routes.js"></script>
  <script src="./assets/scripts/55-platforms.js"></script>
  <script src="./assets/scripts/65-extensions.js"></script>
  <script src="./assets/scripts/60-updater.js"></script>
  <script src="./assets/scripts/70-healthcheck.js"></script>
  <script src="./assets/scripts/90-init.js"></script>
